parameters:
    level: 5
    paths:
        - src
        - tests
    autoload_files:
        - %rootDir%/../../autoload.php
    excludes_analyse:
        - %rootDir%/../../../src/reflection/*
services:
    -
        class: \Bj\Reflection\CardPropertyClassReflectionExtension
        tags:
            - phpstan.broker.propertiesClassReflectionExtension
